<!DOCTYPE html>
<html>
<head>
  <title>Catalog</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/a03bfa2223.js" crossorigin="anonymous"></script>

</head>
<body>
  <header class="header">
  {% if isLogged %}
    <div class="greeting">
      {% if isAdmin %}
        <a class="sign-in" href="admin/admin.php"> Admin </a>
      {% endif %}
      <h4 > Hello {{ name }} </h4>
      <a class="sign-in" href="signOut.php">Sign Out</a>
    </div>
  {% else %}
    <div class="sign-in__links">
      <form method="POST">
        <label for="userLogin ">Login: </label>
        <input type="text" id="userLogin" name="userLogin" required>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required>
        <input class="submit-btn" type="submit" value="Sign in">
      </form>
      <a class="sign-in" href="registration.php">Registration</a>
    </div>
  {% endif %}
  </header>

  <h2 class="heading">Catalog</h2>
  <a class="catalog__cart-link" href="cart.php"><h3 class="catalog__h3"> Cart</h3></a>

  <section class="section">
    <div class="products">

    </div>
    <div class="pagination">
      <a id="previous" href="#"><< </a>
      <span id="pages"></span>
      <a id="next" href="#"> >></a>
    </div>
  </section>

  <script type="text/javascript">
    const productsEl = document.querySelector('.products');
    const nextBtn = document.querySelector('#next');
    const previousBtn = document.querySelector('#previous');
    const pages = document.querySelector('#pages');
    const formData = new FormData();

    let currentPage = 1;
    formData.append('page', currentPage);

    function setPages(page) {
      pages.innerText = `стр. ${ page } из {{ numberPages }} `;
    }

    setPages(currentPage);

    function fetchProducts() { 
      fetch('./functions/fetchProducts.php', {
        method: 'POST',
        body: formData
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Problem to fetch data');
        }
        return response.text();
      })
      .then(data => productsEl.innerHTML = data);
    }
    
    document.addEventListener('DOMContentLoaded', () => {
      fetchProducts();
    })

    nextBtn.addEventListener('click', () => {
      if (currentPage < {{ numberPages }}) {
        currentPage++;
        formData.set('page', currentPage);
        fetchProducts();
        setPages(currentPage);
      } 
    })

     previousBtn.addEventListener('click', () => {
      if (currentPage > 1) {
        currentPage--;
        formData.set('page', currentPage);
        fetchProducts();
        setPages(currentPage);
      } 
    })

  </script>
</body>
</html>

